<div class="centering-container">
    <nav> 
        <!-- <a class="nav-item" href="">Login</a> <a class="nav-item" href="">Kafka</a> <a class="nav-item" href="home"></a> -->
        <div id="nav-left" class="nav-spacer">
            <a href="{% url 'root'%}" class="nav-button">
                Home
            </a>
            <div class="dropdown">
                <a href="{% url 'kafka_index'%}" class="dropbtn nav-button" id="dropdown-head">Kafka</a>
                <div class="dropdown-content">
                  <a class="plain-dropdown" href="#">Nejnovější video</a>
                  <a class="plain-dropdown" href="{% url 'kafka_submit'%}">Přidat video</a>
                  <a class="plain-dropdown" href="#">video 1</a>
                  <a class="plain-dropdown" href="#">video 2</a>
                  <a class="plain-dropdown" href="#">video 3</a>
                  <a class="plain-dropdown" href="{%url 'kafka_index'%}">Všechna videa</a>
                </div>
              </div>
              <a href="{% url 'clicker'%}" class="nav-button">
                  Clicker
              </a>
              <div class="dropdown">
                <div class="dropbtn nav-button" id="dropdown-head">Unethical AI</div>
                <div class="dropdown-content">
                  <a class="plain-dropdown" target="_blank" href="https://github.com/Actulurus/knihy-scraper">Knihy scraper</a>

                    <div class="subdropdown">
                        <a class="subdropbtn plain-dropdown" id="subdropdown-head" target="_blank" href="https://linktr.ee/unethical.ai">AI Influencers</a>
                        <div class="subdropdown-content">
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/oli.starling/"><img class="dropdown-image" src="/static/assets/olivia.png"><p>Oli Starling</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/sabri.simmons/"><img class="dropdown-image" src="/static/assets/sabrina.png"><p>Sabrina Simmons</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/ema_gibs"><img class="dropdown-image" src="/static/assets/ema.png"><p>Ema Gibson</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/sophia.volker/"><img class="dropdown-image" src="/static/assets/sofia.png"><p>Sophia Volker</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/martina.guarez/"><img class="dropdown-image" src="/static/assets/greta.png"><p>Greta Cooked</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/gretacooked/"><img class="dropdown-image" src="/static/assets/martina.png"><p>Martina Guárez</p></a>
                        </div>
                        </div>
                        

                  <a class="plain-dropdown" target="_blank" href="https://discord.gg/mQDSWR7ttB">Discord Server</a>
                </div>
              </div>
              


        </div>




        <div class="nav-spacer" id="nav-center">
            <p>


            </p>
        </div>
        <div id="nav-right" class="nav-spacer">
            {% if current_user.is_authenticated or True %}
            {% if current_user.email_verified%}
            {%else%}
            <a href="{% url 'account'%}">
                
                <div class="user-info-container nav-button">
                    <small class="warning flashing-text">Neverifikovaný uživatel </small>
                    <p> {{current_user}}</p>
                </div>
            </a>
                {%endif%}
            

               

            </a>
<!--             <a href="{% url 'account'%}"></a> -->
            {%else%}
            
            <a href="{%url 'login'%}" class="nav-button" id="goto-login-button">
                Přihlásit se
            </a>
            <a href="{%url 'register'%}" class="nav-button" id="goto-register-button">
                Vytvořit účet
            </a>
            {%endif%}

        </div>
    </nav>
</div>