<div class="centering-container">
    <nav> 
        <!-- <a class="nav-item" href="">Login</a> <a class="nav-item" href="">Kafka</a> <a class="nav-item" href="home"></a> -->
        <div id="nav-left" class="nav-spacer">

            <svg version="1.1" id="hamburger-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 95.95" style="enable-background:new 0 0 122.88 95.95" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M8.94,0h105c4.92,0,8.94,4.02,8.94,8.94l0,0c0,4.92-4.02,8.94-8.94,8.94h-105C4.02,17.88,0,13.86,0,8.94l0,0 C0,4.02,4.02,0,8.94,0L8.94,0z M8.94,78.07h105c4.92,0,8.94,4.02,8.94,8.94l0,0c0,4.92-4.02,8.94-8.94,8.94h-105 C4.02,95.95,0,91.93,0,87.01l0,0C0,82.09,4.02,78.07,8.94,78.07L8.94,78.07z M8.94,39.03h105c4.92,0,8.94,4.02,8.94,8.94l0,0 c0,4.92-4.02,8.94-8.94,8.94h-105C4.02,56.91,0,52.89,0,47.97l0,0C0,43.06,4.02,39.03,8.94,39.03L8.94,39.03z"/></g></svg>

            <a href="{% url 'root'%}" class="nav-button">
                Domů
            </a>
            <div class="dropdown">
                <a href="{% url 'kafka_index'%}" class="dropbtn nav-button dropdown-head" id="">Kafka</a>
                <div class="dropdown-content">
                  <a class="plain-dropdown" href="#">Nejnovější video</a>
                  <a class="plain-dropdown" href="{% url 'kafka_submit'%}">Přidat video</a>
                  <a class="plain-dropdown" href="#">video 1</a>
                  <a class="plain-dropdown" href="#">video 2</a>
                  <a class="plain-dropdown" href="#">video 3</a>
                  <a class="plain-dropdown" href="{%url 'kafka_index'%}">Všechna videa</a>
                </div>
              </div>
              <a href="{% url 'clicker'%}" class="nav-button">
                  Clicker
              </a>
              <div class="dropdown">
                <div class="dropbtn nav-button dropdown-head" id="">Unethical AI</div>
                <div class="dropdown-content">
                  <a class="plain-dropdown" target="_blank" href="https://github.com/Actulurus/knihy-scraper">Knihy scraper</a>

                    <div class="subdropdown">
                        <a class="subdropbtn plain-dropdown" id="subdropdown-head" target="_blank" href="https://linktr.ee/unethical.ai">AI Influencers</a>
                        <div class="subdropdown-content">
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/oli.starling/"><img class="dropdown-image" src="/static/assets/olivia.png"><p>Oli Starling</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/sabri.simmons/"><img class="dropdown-image" src="/static/assets/sabrina.png"><p>Sabrina Simmons</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/ema_gibs"><img class="dropdown-image" src="/static/assets/ema.png"><p>Ema Gibson</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/sophia.volker/"><img class="dropdown-image" src="/static/assets/sofia.png"><p>Sophia Volker</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/gretacooked/"><img class="dropdown-image" src="/static/assets/greta.png"><p>Greta Cooked</p></a>
                            <a class="dropdown-flex long-dropdwn-item" target="_blank" href="https://www.instagram.com/martina.guarez/"><img class="dropdown-image" src="/static/assets/martina.png"><p>Martina Guárez</p></a>
                        </div>
                        </div>
                        

                  <a class="plain-dropdown" target="_blank" href="https://discord.gg/mQDSWR7ttB">Discord Server</a>
                  <a class="plain-dropdown" target="_blank" href="https://www.instagram.com/unethical.ai/">Instagram</a>
                </div>
              </div>
              


        </div>




        <div class="nav-spacer" id="nav-center">

            <p>


            </p>
        </div>
        <div id="nav-right" class="nav-spacer">
            {% if current_user.is_authenticated %}
            <a href="{% url 'account'%}">
                
                
                
                <div class="user-info-container nav-button">
                    {% if not cernyrobin_user.email_verified %}
                    <small class="warning flashing-text">Neverifikovaný uživatel </small>
                    {%endif%}
                    <p>{{current_user}}</p>
                </div>
            </a>
            

               

            </a>
<!--             <a href="{% url 'account'%}"></a> -->
            {%else%}
            
            <a href="{%url 'login'%}" class="nav-button" id="goto-login-button">
                Přihlásit se
            </a>
            <a href="{%url 'register'%}" class="nav-button" id="goto-register-button">
                Vytvořit účet
            </a>
            {%endif%}

        </div>
    </nav>
</div>


<div id="sidebar">
    <ul id="">
        <a href="{% url 'root'%}">Domů</a>
        <a href="{%url 'kafka_index'%}">Kafka Videa</a>
        <a href="https://discord.gg/mQDSWR7ttB">Discord server</a>
        <a href="https://www.instagram.com/unethical.ai/">Instagram</a>
        <div class="contrast-text" onclick="changeOpenStatusSide()">big thing</div>
        <div id="sidebar-dropdown-container">

            <a href="">thing</a>
            <a href="">thing</a>
        </div>
    </ul>
</div>

<script src="/static/navbar.js"></script>