<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Vefifikační email</title>
    <link rel="stylesheet" href="/static/universal2v7.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        setTimeout(function() { 
            window.location.replace("http://www.w3schools.com");

        }, 10000000);

    </script>
</head>
<body>
    <div id="content-wrapper">

        <h1 class="contrast-heading">Tvůj účet byl úspěšně verifikován</h1>
        <p>Tuhle stránku už můžete zavřít, ale před tím si můžete přečíst výhody ověřeného účtu</p>
        
        <ul class="contrast-text answer-text" id="benefits-text">
       


            <li>Kafka AI pro tebe pro každé video vygeneruje odpovědi, který vidíš jenom ty!</li>
            <li>Máš přístup ke krátkýmu shrnutí každýho videa</li>
            <li>Můžeš se přihlásit k oznámení nových videí do mailu</li>
            <li>Můžeš hledat v názvu, transkriptu, otázkách a odpovědích videa</li>
            <li>Různý color themes pro web</li>
            <li>Můžeš si změnit heslo, pokud jsi ho zapomněl</li>
            <li>Možnost nastavit si 2 faktorový ověření</li>
            <li>Můžeš nahlašovat špatně vygenerovaný odpovědi</li>
            <li>Při maintenance breaku nebo výpadku je dostupný záložní server</li>
            <li>Žádný goofy ass pop-ups, reklamy nebo discord invite</li>
            <li>Zdvojnásobený kliky v Robin Clickeru</li>
  


        </ul>

     
    </div>
    
</body>
</html>