cernyrobin_django/api/__pycache__
cernyrobin_django/api/yt_transcriptor/temp/*
cernyrobin_django/api/yt_transcriptor/output/*

!cernyrobin_django/api

.env

*.un
*.un~
.*
!.gitignore
!.gitkeep
*.cpython-311.pyc

/cernyrobin_django/db.sqlite3
