/cernyrobin_django/api/__pycache__
/cernyrobin_django/api/yt_transcriptor/temp/*
/cernyrobin_django/api/yt_transcriptor/output/*

*/__pycache__

.env

*.un
*.un~
.*
!.gitignore
!.gitkeep
*.cpython-311.pyc

/cernyrobin_django/db.sqlite3
