body {
    margin: 0;
    overflow: hidden;
}

.content {
    height: 100vh;
    overflow-y: auto;
}

#callme-title-container {
    margin-top: 25vh;
    height: min(30vh, 80vw);
    max-width: 100vw;
    aspect-ratio: 1.4;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#callme-create-title-container {
    margin-top: 25vh;
    height: min(12vh, 36vw);
    min-height: min(14vh, 38vw);
    max-width: 100vw;
    aspect-ratio: 3.1;
    display: flex;
    align-items: center;
}

#callme-create-error {
    color: rgb(207, 13, 13);
    font-weight: bold;
    font-size: 2.5vh;
    transform: translateX(-50%);
    left: 50%;
    top: 77vh;
    position: relative;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}

#qr-container {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 10vh;
    left: 50vw;
    width: 80vw;
    max-width: 42vh;
    aspect-ratio: 1;
    background-color: rgb(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

#number-container {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 10vh;
    left: 50vw;
    width: 95vw;
    max-width: 50vh;
    aspect-ratio: 4.5;
}

#qr-holder {
    width: 90%;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;

    overflow: hidden;

    border-radius: 4%;
}

#qr-code {
    width: calc(100% + 5px);
    aspect-ratio: 1;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;

    border: none;

    pointer-events: none;
}

#qr-middle {
    width: 14%;
    aspect-ratio: 1;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;

    border-radius: 100%;

    pointer-events: none;
}

#link-display {
    text-align: center;
    font-size: 1.3vh;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
}

#link-button {
    overflow: hidden;
}

#callme-create-title {
    position: relative;
    font-size: 8vh;

    margin-top: 0px;
    margin-bottom: 0px;
}

.callme-title {
    font-size: 8.5vh;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 0.2rem;

    position: relative;

    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.number-title {
    font-size: 5vh;
    font-weight: 700;
    color: white;
    text-align: center;
    vertical-align: middle;

    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);

    position: absolute;

    width: 90%;
    height: 60%;

    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.callme-subtitle {
    text-align: center;

    margin-top: 1rem;

    font-size: 2vh;
    font-weight: 400;

    transform: translate(-50%, -50%);

    position: relative;
    width: 70%;

    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#callme-buttons-container {
    left: 50%;
    top: 65%;
    height: min(30vh, 80vw);
    max-width: 100vw;
    aspect-ratio: 1.4;
    transform: translate(-50%, -50%);

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 7px;
    padding-bottom: 7px;
}

.callme-input {
    width: 100%;
    aspect-ratio: 5;

    left: 50%;
    border: none;

    position: relative;
    text-align: center;
    display: unset;

    margin-top: 7px;
    margin-bottom: 7px;

    text-align: center;
    vertical-align: middle;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.callme-button {
    width: 100%;
    aspect-ratio: 5;

    left: 50%;
    border: 0px;

    position: relative;
    text-align: center;
    display: unset;

    margin-top: 7px;
    margin-bottom: 7px;

    text-align: center;
    vertical-align: middle;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    transition: 80ms;
    cursor: pointer;
    overflow: hidden;

    white-space: nowrap;
}

.callme-button:active {
    padding-left: 80%;
    transition: 80ms
}

.callme-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s ease-in-out;
}

.callme-button:active span {
    opacity: 0;
    transition: 70ms ease-in-out;
}

.callme-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s ease-in-out;
}

.callme-button:hover span {
    padding-right: 25px;
}

.callme-button:hover span:after {
    opacity: 1;
    right: 0;
}

.callme-button-text {
    font-size: 3vh;
    font-weight: 700;
    width: 80%;

    transform: translate(-50%, -50%);

    position: absolute;
}

#name-text {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 7%;
    height: 30%;
    font-weight: 500;
    font-size: 2.3vh;
    user-select: none;
}

#footer {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
    font-weight: bolder;
}

#footer-below-number {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
    font-weight: bolder;
}

#footer-link {
    color: white;
}