:root {
  /*   --blockCr: #141c49; old color */
  /*   --borderCr: #7ea5ff; old color */

  /* NewUI static colors backup:
    DO NOT DELETE
  
  
  
  --textCr: rgb(219, 221, 228);
  --bgCr: rgb(16, 18, 22);
  --highLightCr: #080131;
  --blockCr: #040d40;
  --bannerBgCr: #ffff00;
  --headerCr: rgb(101, 117, 210);
  --borderCr: rgb(52, 67, 151);
  --addButtonTriggerCr: rgb(73, 91, 193); 
  --warniningTextCr: #ff0000;
  --navButtonTextCr: #ffffff;
  --spinnerOuterCr: rgb(10, 25, 111);
  --spinnerInnerCr: rgb(21, 41, 153);
  --loadingBarCr: rgb(0, 80, 255);

  */
/*
source backup --sourceColor: #221FC7;
*/

  
  /* source 221FC7 */
  /*Base color sorces for mixin into the theme colors*/
--sourceColor: hsl(241, 73%, 45%);
--headerCrSource: #D6D6D6;
--borderCrSource: #474747;
--addButtonTriggerCrSource: #8A8A8A;
--spinnerOuterCrSource: #000000;
--spinnerInnerCrSource: #0D0D0D;
--textCrSource: #F2F2F2;
--bgCrSource: #0F0F0F;
--highLightCrSource:#000000;
--blockCrSource:#000000;

/*Colors with weak source*/
--textCr: color-mix(in srgb-linear, var(--sourceColor) 10%,#F2F2F2);
--spinnerOuterCr: color-mix(in srgb-linear, var(--sourceColor) 50%,#000000);
--bgCr: color-mix(in srgb-linear, var(--sourceColor) 0.1%,#0F0F0F);
--highLightCr:color-mix(in srgb-linear, var(--sourceColor) 5%,#000000);
--blockCr: color-mix(in srgb-linear, var(--sourceColor) 9%,#000000);

/*Colors with equal ratio*/
--borderCr: color-mix(in srgb-linear, var(--sourceColor),#474747);

/*Colors with dominant source*/
--spinnerInnerCr: color-mix(in srgb-linear,#0D0D0D 75%, var(--sourceColor));
--headerCr: color-mix(in srgb-linear,#D6D6D6 33%,  var(--sourceColor));
--addButtonTriggerCr: color-mix(in srgb-linear,#8A8A8A 33%, var(--sourceColor));

/*Colors identical to source color*/
--loadingBarCr: var(--sourceColor);

/* Unrelated colors */
--bannerBgCr: #ffff00;
--warniningTextCr: #ff0000;
--navButtonTextCr: #ffffff;

/*   --textCr: rgb(219, 221, 228); */
/*   --bgCr: rgb(16, 18, 22);
  --highLightCr: rgb(8, 1, 49);
  --blockCr: rgb(4, 13, 64); */
/*   --headerCr: rgb(101, 117, 210); */
/*   --borderCr: rgb(52, 67, 151); */
/*   --addButtonTriggerCr: rgb(73, 91, 193);  */
/*   --spinnerOuterCr: rgb(10, 25, 111);
  --spinnerInnerCr: rgb(21, 41, 153);
  --loadingBarCr: rgb(0, 80, 255); */

}


body {
  background-color: var(--bgCr);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

p{
  color: var(--textCr);
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

#title-container {
  width: 100%;
  height: auto;
  text-align: center;
}

#barContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--textCr);
  margin-top: 50px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--textCr);
}

.add-button{
  width: 110px;
  height: 40px;
  background-color: var(--borderCr);
  color: var(--textCr);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  /* transition: background-color 0.2 ease-in-out; */
  transition: 0.2s ease-in-out
}

.add-button:hover{
  background-color: var(--addButtonTriggerCr);
}
#content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-rekl-container {
  width: 7.5%;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-rekl {
  width: 100%;
  aspect-ratio: 1/2;
  margin: 2rem;
  overflow: hidden;
  padding: 0rem;
  border: none;
}

.rekl-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: auto;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.kafka-list-element {
  width: 100%;
  aspect-ratio: 4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  background-color: var(--highLightCr);
  color: var(--textCr);
}

.kafka-list-element-image {
  height: 80%; /* 537 */

  aspect-ratio: 16/9;
  margin: 0.5rem;
}

.kafka-list-element-text-container {
  height: 80%;
  width: auto;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  vertical-align: top;
}

.kafka-list-element-text {
  height: auto;
  margin: auto;
  margin-left: 0px;
  text-align: left;
}

.kafka-list-element-title {
  font-size: 2rem;
}

.kafka-list-element-description {
  font-size: 1.5rem;
  vertical-align: text-top;
  overflow: hidden;
  background-clip: text;
  color: var(--textCr);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to bottom, var(--textCr), var(--textCr), var(--textCr), #dbdde414, #dbdde400);
  -webkit-background-clip: text;
}

#kafka-list-add-video-container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


#cantfindvideo {
  color: var(--textCr)
}

#video-embed {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 1rem;
  border-radius: 10px;
}

#view-answers-container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;

}

.view-answers-text {
  color: var(--textCr)
}

#submit-form-container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

#submit-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#submit-form-title {
  margin-bottom: 1rem;
}

#submit-video-url {
  width: 100%;
}

#submit-button {
  margin: 1rem;
}

.submit-info-text {
  font-size: 1.5rem;
  text-align: left;
  color: var(--textCr);
}

#submit-response-container {
  width: auto;
  height: auto;
  align-items: center;
}

#submit-response {
  color: var(--textCr);
  font-size: 1.5rem;
  text-align: center;
}

.answer-text{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(.77,0,.18,1);
  /* transition: max-height 0.3s ease-in-out; */
/*   transition: max-height 0.3s cubic-bezier(.87,.02,.13,.97); */
/*   transition: max-height 0.3s cubic-bezier(1,.15,.4,.56) */
}

#disclaimer-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  width: 100vw;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: var(--bannerBgCr);
  color: var(--bgCr);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}

.disclaimer-highlight {
  color: var(--warniningTextCr);
  font-weight: bold;
}



#disclaimer-button {
  aspect-ratio: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  background: none;
  /* color: inherit; */
  border: none;
  height: 20px;
  width: 20px;
}

#disclaimer-cross {
  height: 20px;
  width: 20px;
}

#disclaimer-text {
  margin-left: 1rem;
  margin-right: 1rem;

}

#submitBody {
  display: flex;
}

/*DO NOT TOUCH THIS OR IT REALLY FUCKS UP!*/

/* kafka-index code here */

.centering-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;

}

body{
  margin: 0px;

}

.nav-item{
  padding: 10px;
  border-radius: 5px;
  margin: 5px;

}

nav{
  background-color: var(--blockCr);

  width: 100%;
  height: 65px;
  display: flex;
  margin: 0px;
  transition: 0.25s;
  border-bottom: var(--borderCr) solid 2px; 
  background-color: var(--blockCr);
  z-index: 2;
  
  padding: 0px;
  display: flex;
  justify-content: space-between;

}
#nav-left{
 margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-right{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 15px;
  align-items: center;
}
.nav-spacer{
  width: 33%;
}

#nav-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-button{
  color: var(--navButtonTextCr);

  margin: 5px 5px;
  padding: 15px 7.5px;
  /* width: 150px;    CONSTANT NAVBAR BUTTON WIDTH*/
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.nav-button:hover{
  background-color: var(--borderCr);
  padding-bottom: 12px;
  box-shadow: 5px 5px 10px -4px rgb(0, 0, 0);
}
.video-container{
  background-color: var(--blockCr);
  border: var(--borderCr) solid 2.5px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px 15px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0);
  width: calc(100% - 50px);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: border 0.2s ease-in-out;
}

.video-container:hover{
  border: rgb(255, 255, 255) solid 2.5px; 
}

.video-container::after {
  content: '';
  position: absolute;
  top: 15%;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--blockCr));
  pointer-events: none; 
}


.video-content-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.video-heading-text{
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    
}

.thumbnail{
  border-radius: 10px;
  border: solid var(--borderCr) 1.5px;
  width: 537px;
  height: 302px;
  aspect-ratio: 16/9;
}


.width-100{
  width: 100%;
}

.video-description-container{
  position: relative;
  width: 50%; 
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  line-height: 1.6;
  margin-left: 20px;
  margin-top: 0px;
}
.video-description-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--blockCr));
  pointer-events: none;
}


.video-heading-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* kafka-view code here */

.view-subheading{
  color: var(--textCr);
  font-size: 26px;
  margin-top: 50px
}

.transcript-text{
  text-align: justify;
}

p{
  line-height: 1.4;
}

#video-name{
  color: var(--textCr);
}


.pair-container{
  background-color: var(--blockCr);
  border: var(--borderCr) solid 2.5px;
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px 15px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0)
}

.pair-container-heading{
  border-bottom: solid 1px var(--borderCr);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0px;
  
}

.wrapping-button{
  margin-bottom: 0px;
}


.transcript-container{
  background-color: var(--blockCr);
  border: var(--borderCr) solid 2.5px;
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
  padding: 10px 15px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0)
}

.text-color{
  color: var(--textCr);
}

.question-container{



padding-bottom: 2px;
margin-bottom: 0px;
}

/* invite code starts here */
#edit-form{
  display: none;
}
#text-area{
  display: none;
font-size: 18px;
}
#invite{
  background-image: linear-gradient(to bottom right, #37009d, #404eed);
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 55px;
  display: flex;
  margin: 10px;
  padding: 10px;
  transition: 0.25s;
  border: rgb(8, 0, 101) solid 2px; 
  z-index: 2;

}



#invite:hover{
padding: 18px;
border: rgb(255, 255, 255) solid 2px; 
}

#logo{
  width: 50px;
  margin: 5px;
  margin-left: 10px;
}


#edit-button {
  height: 50px;
  width: 50px;
}



#infoText {
margin: 0px;
font-size: 200%;

}

#imageGallery{
display: flex;
flex-direction: row;
justify-content: space-around;
}
#header{
  display: flex;
  flex-direction: row;
}


#rButtonCont{
  visibility: hidden;
  margin: 5px 5px;

}

#lButtonCont{
  visibility: hidden;
  margin: 0px 5px;
}

#lButton{
  visibility: hidden;
  margin: 0px 5px;
}

#rButton{
  visibility: hidden;
  margin: 5px 5px;

}

.subtle-link{
  color: var(--headerCr);
}

.subtle-link:hover{
  color: var(--headerCr);
}

.subtle-link:visited{
  color: var(--headerCr);
}

/* end of: DO NOT TOUCH OR IT REALLY FUCKS UP!*/


/*loooooolololololol*/


#loadingBarContainer {
  width: 80%;
  max-width: 600px;
  background-color: #ddd;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#loadingBar {
  width: 0%;
  height: 30px;
  background-color: var(--loadingBarCr);
  background-color: var(--borderCr);
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
  background-size: 50px 50px;
  animation: moveBackground 2s linear infinite;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 25px;
  transition: width 0.4s ease-in-out;
}

@keyframes moveBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 50px 50px;
  }
}




/*Loding animation code*/
#loadingContainer {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: center;

}

@keyframes spinner {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.spinner div {
  box-sizing: border-box !important
}

.spinner>div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: var(--spinnerInnerCr) transparent var(--spinnerInnerCr) transparent;
  animation: spinner 1s linear infinite;
}

.spinner>div:nth-child(2),
.spinner>div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: spinner 1s linear infinite reverse;
}

.spinner>div:nth-child(2) {
  border-color: var(--spinnerOuterCr) transparent var(--spinnerOuterCr) transparent;
}

.spinner>div:nth-child(3) {
  border-color: transparent
}

.spinner>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(3) div:before,
.spinner>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: var(--spinnerOuterCr);
  border-radius: 50%;
  box-shadow: 0 128px 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(4) {
  border-color: transparent;
}

.spinner>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(4) div:before,
.spinner>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: var(--spinnerInnerCr);
  border-radius: 50%;
  box-shadow: 0 92px 0 0 var(--spinnerInnerCr);
}

.spinner>div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 var(--spinnerInnerCr);
}

.spinnerContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #00000000;
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div {
  box-sizing: content-box;
}

#loadContainer {
  visibility: hidden;
}

@keyframes spinner {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.spinner div {
  box-sizing: border-box !important
}

.spinner>div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: var(--spinnerOuterCr) transparent var(--spinnerOuterCr) transparent;
  animation: spinner 1s linear infinite;
}

.spinner>div:nth-child(2),
.spinner>div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: spinner 1s linear infinite reverse;
}

.spinner>div:nth-child(2) {
  border-color: transparent var(--spinnerInnerCr) transparent var(--spinnerInnerCr)
}

.spinner>div:nth-child(3) {
  border-color: transparent
}

.spinner>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(3) div:before,
.spinner>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: var(--spinnerOuterCr);
  border-radius: 50%;
  box-shadow: 0 128px 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(4) {
  border-color: transparent;
}

.spinner>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(4) div:before,
.spinner>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: var(--spinnerInnerCr);
  border-radius: 50%;
  box-shadow: 0 92px 0 0 var(--spinnerInnerCr);
}

.spinner>div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 var(--spinnerInnerCr);
}

.spinnerContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #00000000;
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div {
  box-sizing: content-box;
}
