:root {

/* source 221FC7 */
/*Colors cooked with: https://colordesigner.io/color-mixer */


/*Source color*/
--sourceColor: #221fc7;


/*Base color sources for mixing into the theme colors*/
--headerCrSource: #D6D6D6;
--borderCrSource: #474747;
--addButtonTriggerCrSource: #8A8A8A;
--spinnerOuterCrSource: #000000;
--spinnerInnerCrSource: #0D0D0D;
--textCrSource: #F2F2F2;
--bgCrSource: #0F0F0F;
--highLightCrSource:#000000;
--blockCrSource:#000000;


/*Colors with weak source*/
--textCr: color-mix(in srgb-linear, var(--sourceColor) 10%,#F2F2F2);
--spinnerOuterCr: color-mix(in srgb-linear, var(--sourceColor) 50%,#000000);
--bgCr: color-mix(in srgb-linear, var(--sourceColor) 0.1%,#0F0F0F);
--highLightCr:color-mix(in srgb-linear, var(--sourceColor) 5%,#000000);
--blockCr: color-mix(in srgb-linear, var(--sourceColor) 9%,#000000);
--inputFieldBgRc : color-mix(in srgb-linear, var(--sourceColor) 5%,#000000);


/*Colors with equal ratio*/
--borderCr: color-mix(in srgb-linear, var(--sourceColor),#474747);
--animationIconOffCr: color-mix(in srgb-linear,#ffffff, var(--sourceColor));


/*Colors with dominant source*/
--amimationIconTriggeredCr: color-mix(in srgb-linear,#ffffff 3%, var(--sourceColor));
--spinnerInnerCr: color-mix(in srgb-linear,#0D0D0D 75%, var(--sourceColor));
--headerCr: color-mix(in srgb-linear,#D6D6D6 33%,  var(--sourceColor));
--addButtonTriggerCr: color-mix(in srgb-linear,#8A8A8A 33%, var(--sourceColor));


/*Colors identical to source color*/
--loadingBarCr: var(--sourceColor);


/* Unrelated colors */
--bannerBgCr: #ffff00;
--warniningTextCr: #ff0000;
--navButtonTextCr: #ffffff;


  /*NON color variables*/
  --dropdownBorderRadius: 20px;
  --mediumBorderSize: 2px;
  --thickBorderSize: 2.5px;
  --navbarHeight:  65px;

}

/*Goofy ass debug mode*/
/* *{
  border: solid red 1px;
} */



/*SECTION


 /$$   /$$                                           /$$                     /$$
| $$  | $$                                          | $$                    | $$
| $$  | $$ /$$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$$
| $$  | $$| $$__  $$ /$$_____/ /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$  | $$| $$  \ $$|  $$$$$$ | $$  \ $$| $$  \__/  | $$    | $$$$$$$$| $$  | $$
| $$  | $$| $$  | $$ \____  $$| $$  | $$| $$        | $$ /$$| $$_____/| $$  | $$
|  $$$$$$/| $$  | $$ /$$$$$$$/|  $$$$$$/| $$        |  $$$$/|  $$$$$$$|  $$$$$$$
 \______/ |__/  |__/|_______/  \______/ |__/         \___/   \_______/ \_______/
                                                                                
                                                                                
                                                                                


*/


body {
  background-color: var(--bgCr);
  font-family: 'Roboto', sans-serif;
  margin: var(--navbarHeight) 0px 0px 0px;
}
.warning{
  color: var(--warniningTextCr);
}

#content-wrapper{


   padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
a:visited{
  color: var(--textCr);
}

p{
  color: var(--textCr);
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

#title-container {
  width: 100%;
  height: auto;
  text-align: center;
}

#barContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--textCr);
  margin-top: 50px;
}

.subtitle {
  font-size: clamp(16px, 3vw, 24px) ;
  font-weight: bold;
  color: var(--textCr);
  margin: 13px 10px;
}

.add-button{
  width: 110px;
  height: 40px;
  background-color: var(--borderCr);
  color: var(--textCr);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  transition: 0.2s ease-in-out
}

.add-button:hover{
  background-color: var(--addButtonTriggerCr);
}
#content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-rekl-container {
  width: 7.5%;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-rekl {
  width: 100%;
  aspect-ratio: 1/2;
  margin: 2rem;
  overflow: hidden;
  padding: 0rem;
  border: none;
}

.rekl-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: auto;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.kafka-list-element {
  width: 100%;
  aspect-ratio: 4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  background-color: var(--highLightCr);
  color: var(--textCr);
}

.kafka-list-element-image {
  height: 80%;
  aspect-ratio: 16/9;
  margin: 0.5rem;
}

.kafka-list-element-text-container {
  height: 80%;
  width: auto;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  vertical-align: top;
}

.kafka-list-element-text {
  height: auto;
  margin: auto;
  margin-left: 0px;
  text-align: left;
}

.kafka-list-element-title {
  font-size: 2rem;
}

.kafka-list-element-description {
  font-size: 1.5rem;
  vertical-align: text-top;
  overflow: hidden;
  background-clip: text;
  color: var(--textCr);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to bottom, var(--textCr), var(--textCr), var(--textCr), #dbdde414, #dbdde400);
  -webkit-background-clip: text;
}

#kafka-list-add-video-container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


#cantfindvideo {
  color: var(--textCr)
}

#video-embed {
  width: clamp(55vw, 1000px, 95vw);
  aspect-ratio: 16/9;
  margin: 1rem;
  border-radius: 10px;
}

#view-answers-container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.view-answers-text {
  color: var(--textCr)
}

#submit-form-container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

#submit-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#submit-form-title {
  margin-bottom: 1rem;
}

#submit-video-url {
  width: 100%;
}

#submit-button {
  margin: 1rem;
}

.submit-info-text {
  font-size: 1.5rem;
  text-align: left;
  color: var(--textCr);
}

#submit-response-container {
  width: auto;
  height: auto;
  align-items: center;
}

#submit-response {
  color: var(--textCr);
  font-size: 1.5rem;
  text-align: center;
}

.answer-text{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(.77,0,.18,1);
}

#disclaimer-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  width: 100vw;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: var(--bannerBgCr);
  color: var(--bgCr);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}

.minimal-link{
  text-decoration: underline;
  color: var(--textCr);
}

.disclaimer-highlight {
  color: var(--warniningTextCr);
  font-weight: bold;
}



#disclaimer-button {
  aspect-ratio: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  background: none;
  border: none;
  height: 20px;
  width: 20px;
}

#disclaimer-cross {
  height: 20px;
  width: 20px;
}

#disclaimer-text {
  margin-left: 1rem;
  margin-right: 1rem;

}

#submitBody {
  display: flex;
}

/*SECTION


  /$$$$$$   /$$                         /$$       /$$$$$$           /$$    /$$ /$$              
 /$$__  $$ | $$                        | $$      |_  $$_/          | $$   | $$|__/              
| $$  \__//$$$$$$   /$$   /$$  /$$$$$$$| $$   /$$  | $$   /$$$$$$$ | $$   | $$ /$$ /$$$$$$/$$$$ 
|  $$$$$$|_  $$_/  | $$  | $$ /$$_____/| $$  /$$/  | $$  | $$__  $$|  $$ / $$/| $$| $$_  $$_  $$
 \____  $$ | $$    | $$  | $$| $$      | $$$$$$/   | $$  | $$  \ $$ \  $$ $$/ | $$| $$ \ $$ \ $$
 /$$  \ $$ | $$ /$$| $$  | $$| $$      | $$_  $$   | $$  | $$  | $$  \  $$$/  | $$| $$ | $$ | $$
|  $$$$$$/ |  $$$$/|  $$$$$$/|  $$$$$$$| $$ \  $$ /$$$$$$| $$  | $$   \  $/   | $$| $$ | $$ | $$
 \______/   \___/   \______/  \_______/|__/  \__/|______/|__/  |__/    \_/    |__/|__/ |__/ |__/
                                                                                                
                                                                                                
                                                                                                
*/



/*Newcode*/
#responsive-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}



 /*mobile sidebar fuckery*/


 #sidebar {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 2; 
  top: 0;
  left: 0;
  background-color: var(--highLightCr);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  display: none;
}

#sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: var(--textCr);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

#sidebar-dropdown-conatiner{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(.77,0,.18,1);
}




/*New login code*/




label{
  color: var(--textCr);
}
#login-block{

  background-color: var(--blockCr);
  border: var(--borderCr) solid var(--thickBorderSize);
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0);
  width: 40vw;
  height: 50vw;
/*   width: clamp(96%, 500px, 50%); */
  width: clamp(30vw, 400px, 90vw);
  /* height: 30vh; */
  height: auto;
  padding-top: clamp(25px, 50px, 2vw);
/*  */
 margin-top: 50px;
}



.login-field {
  width: 95%; 
  background-color: var(--inputFieldBgRc);
  border: none;
  text-align: left;
  font-size: 150%;
  height: clamp(15%, 50px, 20%);
  height: clamp(2.5em, 8vh, 60px);
  color: var(--textCr);
  border-radius: 1.5vh;
  margin-bottom: clamp(20px, 50px, 2vw);
  padding-left: 2%;
}
  

#animation-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  padding: 0vw 4vw;
}

.animation-icon{
  width: 10vw;
  height: 10vw;
}





#flying-file {
  position: absolute;
  width: 5vw; 
  height: auto;
  animation: flyAcross 2s cubic-bezier(.77,0,.18,1) infinite;
  fill: var(--textCr);
}



@keyframes flyAcross {
  0%, 100% {
      left: 16vw; 
  }
  50% {
      left: 80vw; 
  }
}


#icon-1 {
  animation: changeFillMoveRight 2s infinite; 
  transition: fill 0.1s cubic-bezier(.77,0,.18,1);

  animation-delay: 0.25s;

}

#icon-3 {
  animation: changeFillMoveLeft 2s infinite;
  transition: fill 0.1s cubic-bezier(.77,0,.18,1);

  animation-delay: 1.25s;

}


@keyframes changeFill {
  0%, 80% { fill: var(--animationIconOffCr); }
  90% { fill: var(--amimationIconTriggeredCr); }
  100% { fill: var(--animationIconOffCr); }
}

@keyframes changeFillMoveLeft {
  0%, 80% { fill: var(--animationIconOffCr);  transform: translate(0, 0); }
  90% { fill: var(--amimationIconTriggeredCr); transform: translate(10px, 0); }
  100% { fill: var(--animationIconOffCr); transform: translate(0, 0);  }
}


@keyframes changeFillMoveRight {
  0%, 80% { fill: var(--animationIconOffCr);  transform: translate(0, 0); }
  90% { fill: var(--amimationIconTriggeredCr); transform: translate(-10px, 0); }
  100% { fill: var(--animationIconOffCr); transform: translate(0, 0);  }
}



/*Verify page code*/

.green-button{
  border: none;
  background-color: rgb(88, 255, 28);
  padding: 10px;
  border-radius: 10px;
  width: 35%;
  margin: 20px;
  cursor: pointer;
  font-size: 2vh;
}
#verify-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-field{
  width: 300px;
  margin-bottom: 3%;
  font-size: 16px;
}
#password-field{
  width: 300px;
  font-size: 16px;

}

.margin-label{
  margin-bottom: 1%;
}

#verification-container{
  display: none;
  font-size: 20px;
}

#tldr-button{
  background-color: rgb(184, 0, 0);
  padding: 10px;
  border-radius: 10px;
  color: var(--textCr);
  cursor: pointer;
}

.contrast-heading{
  color: var(--textCr);
}

.centered-text{
  text-align: center;
}

.contrast-text{
  color: var(--textCr);
}

/*Account page code*/
#username-heading{
  color: var(--textCr);

}
#member-since{
  color: var(--textCr);
}
#account-info{
  color: var(--textCr);
}

/*Dropdown flex code*/

.dropdown-flex{
  display: flex;
  flex-direction: row;
}

.dropdown-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* .long-dropdwn-item{
  padding: 0px;
  padding-left: 15px;
} */

/*NAV subdropdown code*/

.subdropdown {
  position: relative;
  display: inline-block;
  }
  
  .subdropdown-content {
  
  display: none;
  position: absolute;
  background-color: var(--blockCr);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 8px 8px 10px -4px rgb(0, 0, 0);
  z-index: 1;
  border: solid var(--mediumBorderSize) var(--borderCr);
  border-radius: 0px var(--dropdownBorderRadius) var(--dropdownBorderRadius) var(--dropdownBorderRadius);
  color: var(--navButtonTextCr);
  margin-left: 165px;
  margin-top: -55px;

  
  }
  
  .subdropdown-content > * > a {
  
/*     padding: 15px 0px 15px 15px; */
  width: 150px; 
  height: 30%;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;
  
  
  
  color: rgb(255, 255, 255);
  /* padding: 12px 16px; */
  text-decoration: none;
  display: flex;
  }
  
/*   .first-subdropdown-item{
    border-radius: 0px calc(var(--subdropdownBorderRadius) - var(--mediumBorderSize)) 0px 0px ;
  }
  
  .last-subdropdown-item{
    border-bottom-left-radius: calc(var(--subdropdownBorderRadius) - var(--mediumBorderSize));
    border-bottom-right-radius: calc(var(--subdropdownBorderRadius) - var(--mediumBorderSize));
  } */
  
  .subdropdown-content a:hover {background-color: var(--addButtonTriggerCr);}
  
  .subdropdown:hover .subdropdown-content {display: block;}
  
   .subdropdown:hover #subdropdown-head {background-color: var(--addButtonTriggerCr);}
  

/*NAV dropdown code*/


.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {

display: none;
position: absolute;
background-color: var(--blockCr);
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
box-shadow: 8px 8px 10px -4px rgb(0, 0, 0);
z-index: 1;
border: solid var(--mediumBorderSize) var(--borderCr);
border-radius: 0px var(--dropdownBorderRadius) var(--dropdownBorderRadius) var(--dropdownBorderRadius);
margin-top: -8px;
color: var(--navButtonTextCr);
margin-left: 5px;

}

.dropdown-content a.plain-dropdown {

  padding: 15px 0px 15px 15px;
width: 150px; 
height: 30%;
flex-direction: row;
justify-content: start;
align-items: center;
transition: 0.3s;
font-size: 18px;
cursor: pointer;



color: rgb(255, 255, 255);
/* padding: 12px 16px; */
text-decoration: none;
display: flex;
}



.dropdown > div > a:first-child{
  border-radius: 0px calc(var(--dropdownBorderRadius) - var(--mediumBorderSize)) 0px 0px ;
}
.subdropdown > div > a:first-child{
  border-radius: 0px calc(var(--dropdownBorderRadius) - var(--mediumBorderSize)) 0px 0px ;
}
.dropdown > div > a:last-child{
  border-bottom-left-radius: calc(var(--dropdownBorderRadius) - var(--mediumBorderSize));
  border-bottom-right-radius: calc(var(--dropdownBorderRadius) - var(--mediumBorderSize));
}
.subdropdown > div > a:last-child{
  border-bottom-left-radius: calc(var(--dropdownBorderRadius) - var(--mediumBorderSize));
  border-bottom-right-radius: calc(var(--dropdownBorderRadius) - var(--mediumBorderSize));
}


.dropdown-content a:hover {background-color: var(--addButtonTriggerCr);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-head {
  
  background-color: var(--borderCr);
  padding-bottom: 12px;
  box-shadow: 5px 5px 10px -4px rgb(0, 0, 0);
}






/* kafka-index code here */

.centering-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;

}
.user-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-container > p {
  margin: 0px;
}


.nav-item{
  padding: 10px;
  border-radius: 5px;
  margin: 5px;

}

.flashing-text{

  animation: flash 0.5s cubic-bezier(1,-0.33,0,1.5) 0s 2
  
  
}
@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

nav{
  background-color: var(--blockCr);

  width: 100%;
  height: var(--navbarHeight); /*thing*/
  display: flex;
  margin: 0px;
  transition: 0.25s;
  border-bottom: var(--borderCr) solid var(--mediumBorderSize); 
  background-color: var(--blockCr);
  z-index: 3;
  
  padding: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;

}

#sidebar-item-container{
  padding-left: 20px;
}






#nav-left{
 margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55vw;
}

#nav-right{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 15px;
  align-items: center;
  width: 30vw;
}


#nav-left > *:not(:first-child){
  opacity: 1;
/*   display: flex; */
  
}

#nav-left > *:first-child{
  /* FIRST CHILD OF THE LEFT NAVBAR AKA THE HAMBURGER MENU*/
  height: 50%;
  width: auto;
  fill: var(--textCr);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
}





.nav-spacer{
  width: 33%;
}

#nav-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1vw;
}

.nav-button{
  color: var(--navButtonTextCr);

  margin: 5px 5px;
  padding: 15px 7.5px;
  /* width: 150px;    CONSTANT NAVBAR BUTTON WIDTH*/
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;


}
nav *{
  transition: all 0.3s;
}

.nav-button:hover{
  background-color: var(--borderCr);
  padding-bottom: 12px;
  box-shadow: 5px 5px 10px -4px rgb(0, 0, 0);
}
.video-container{
  background-color: var(--blockCr);
  border: var(--borderCr) solid var(--thickBorderSize);
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px 15px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0);
  width: calc(100% - 50px);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: background-color, border 0.2s ease-in-out;
  width: clamp(55vw, 1000px, 85vw);
} 







.video-container:hover{
  border: rgb(255, 255, 255) solid var(--thickBorderSize); 
}

.video-container::after {
  content: '';
  position: absolute;
  top: 15%;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--blockCr));
  pointer-events: none; 
}


.video-content-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.video-heading-text{
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    
}

.kafka-thumbnail{
  border-radius: 10px;
  border: solid var(--borderCr) 1.5px;
  width: 537px;
  height: 302px;
  aspect-ratio: 16/9;
}


.width-100{
  width: 100%;
}

.video-description-container{
  position: relative;
  width: 50%; 
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  line-height: 1.6;
  margin-left: 20px;
  margin-top: 0px;
}
.video-description-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--blockCr));
  pointer-events: none;
}


.video-heading-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* kafka-view code here */

.view-subheading{
  color: var(--textCr);
  font-size: 26px;
  margin-top: 50px
}

.transcript-text{
  text-align: justify;
}

p{
  line-height: 1.4;
}

#video-name{
  color: var(--textCr);
}


.pair-container{
  background-color: var(--blockCr);
  border: var(--borderCr) solid var(--thickBorderSize);
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px 15px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0);
  width: clamp(55vw, 1000px, 85vw);

}

.pair-container-heading{
  border-bottom: solid 1px var(--borderCr);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0px;
  
}

.wrapping-button{
  margin-bottom: 0px;
}


.transcript-container{
  background-color: var(--blockCr);
  border: var(--borderCr) solid 2.5px;
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
  padding: 10px 15px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0)
}

.text-color{
  color: var(--textCr);
}

.question-container{



padding-bottom: 2px;
margin-bottom: 0px;
}

/* invite code starts here */
#edit-form{
  display: none;
}
#text-area{
  display: none;
font-size: 18px;
}
#invite{
  background-image: linear-gradient(to bottom right, #37009d, #404eed);
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 55px;
  display: flex;
  margin: 10px;
  padding: 10px;
  transition: 0.25s;
  border: rgb(8, 0, 101) solid 2px; 
  z-index: 2;

}



#invite:hover{
padding: 18px;
border: rgb(255, 255, 255) solid 2px; 
}

#logo{
  width: 50px;
  margin: 5px;
  margin-left: 10px;
}


#edit-button {
  height: 50px;
  width: 50px;
}



#infoText {
margin: 0px;
font-size: 200%;

}

#imageGallery{
display: flex;
flex-direction: row;
justify-content: space-around;
}
#header{
  display: flex;
  flex-direction: row;
}


#rButtonCont{
  visibility: hidden;
  margin: 5px 5px;

}

#lButtonCont{
  visibility: hidden;
  margin: 0px 5px;
}

#lButton{
  visibility: hidden;
  margin: 0px 5px;
}

#rButton{
  visibility: hidden;
  margin: 5px 5px;

}

.subtle-link{
  color: var(--headerCr);
}

.subtle-link:hover{
  color: var(--headerCr);
}

.subtle-link:visited{
  color: var(--headerCr);
}


/*Code for submit loading bar*/

#loadingBarContainer {
  width: 80vw;
  max-width: 600px;
  background-color: #ddd;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#loadingBar {
  width: 0%;
  height: 30px;
  background-color: var(--loadingBarCr);
  background-color: var(--borderCr);
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
  background-size: 50px 50px;
  animation: moveBackground 2s linear infinite;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 25px;
  transition: width 0.4s ease-in-out;
}

@keyframes moveBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 50px 50px;
  }
}



/* SECTION


 /$$      /$$                 /$$ /$$                                                         /$$                    
| $$$    /$$$                | $$|__/                                                        |__/                    
| $$$$  /$$$$  /$$$$$$   /$$$$$$$ /$$  /$$$$$$         /$$$$$$  /$$   /$$  /$$$$$$   /$$$$$$  /$$  /$$$$$$   /$$$$$$$
| $$ $$/$$ $$ /$$__  $$ /$$__  $$| $$ |____  $$       /$$__  $$| $$  | $$ /$$__  $$ /$$__  $$| $$ /$$__  $$ /$$_____/
| $$  $$$| $$| $$$$$$$$| $$  | $$| $$  /$$$$$$$      | $$  \ $$| $$  | $$| $$$$$$$$| $$  \__/| $$| $$$$$$$$|  $$$$$$ 
| $$\  $ | $$| $$_____/| $$  | $$| $$ /$$__  $$      | $$  | $$| $$  | $$| $$_____/| $$      | $$| $$_____/ \____  $$
| $$ \/  | $$|  $$$$$$$|  $$$$$$$| $$|  $$$$$$$      |  $$$$$$$|  $$$$$$/|  $$$$$$$| $$      | $$|  $$$$$$$ /$$$$$$$/
|__/     |__/ \_______/ \_______/|__/ \_______/       \____  $$ \______/  \_______/|__/      |__/ \_______/|_______/ 
                                                           | $$                                                      
                                                           | $$                                                      
                                                           |__/                                                      
*/


 @media (max-width: 1000px) { /* if (phone){do this}*/
  #nav-left > *:not(:first-child){
    opacity: 0;
    display: none;
    
  }
  
  #nav-left > *:first-child{
    /* FIRST CHILD OF THE LEFT NAVBAR  AKA THE HAMBURGER MENU*/

    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    
  }
  #nav-right{
    width: 70vw;
  }
  #sidebar{
    width: 0px;
     display: block; 
  }
  .kafka-thumbnail{
    aspect-ratio: 16/9;
    width: 85vw;
    height: 47vw;
  }
  .video-description-container{
    display: none;
  }
  .video-container::after{
    display: none;
  }
  .video-container::after{
    display: none;
  }
  #invite-link{
    display: none;
  }
  #invite{
    display: none;
  }
}

















/*SECTION


  /$$$$$$            /$$                                                /$$$$$$                  /$$          
 /$$__  $$          |__/                                               /$$__  $$                | $$          
| $$  \__/  /$$$$$$  /$$ /$$$$$$$  /$$$$$$$   /$$$$$$   /$$$$$$       | $$  \__/  /$$$$$$   /$$$$$$$  /$$$$$$ 
|  $$$$$$  /$$__  $$| $$| $$__  $$| $$__  $$ /$$__  $$ /$$__  $$      | $$       /$$__  $$ /$$__  $$ /$$__  $$
 \____  $$| $$  \ $$| $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  \__/      | $$      | $$  \ $$| $$  | $$| $$$$$$$$
 /$$  \ $$| $$  | $$| $$| $$  | $$| $$  | $$| $$_____/| $$            | $$    $$| $$  | $$| $$  | $$| $$_____/
|  $$$$$$/| $$$$$$$/| $$| $$  | $$| $$  | $$|  $$$$$$$| $$            |  $$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$$
 \______/ | $$____/ |__/|__/  |__/|__/  |__/ \_______/|__/             \______/  \______/  \_______/ \_______/
          | $$                                                                                                
          | $$                                                                                                
          |__/                                                                                                


*/
#loadingContainer {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: center;

}

@keyframes spinner {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.spinner div {
  box-sizing: border-box !important
}

.spinner>div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: var(--spinnerInnerCr) transparent var(--spinnerInnerCr) transparent;
  animation: spinner 1s linear infinite;
}

.spinner>div:nth-child(2),
.spinner>div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: spinner 1s linear infinite reverse;
}

.spinner>div:nth-child(2) {
  border-color: var(--spinnerOuterCr) transparent var(--spinnerOuterCr) transparent;
}

.spinner>div:nth-child(3) {
  border-color: transparent
}

.spinner>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(3) div:before,
.spinner>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: var(--spinnerOuterCr);
  border-radius: 50%;
  box-shadow: 0 128px 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(4) {
  border-color: transparent;
}

.spinner>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(4) div:before,
.spinner>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: var(--spinnerInnerCr);
  border-radius: 50%;
  box-shadow: 0 92px 0 0 var(--spinnerInnerCr);
}

.spinner>div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 var(--spinnerInnerCr);
}

.spinnerContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #00000000;
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div {
  box-sizing: content-box;
}

#loadContainer {
  visibility: hidden;
}

@keyframes spinner {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.spinner div {
  box-sizing: border-box !important
}

.spinner>div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: var(--spinnerOuterCr) transparent var(--spinnerOuterCr) transparent;
  animation: spinner 1s linear infinite;
}

.spinner>div:nth-child(2),
.spinner>div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: spinner 1s linear infinite reverse;
}

.spinner>div:nth-child(2) {
  border-color: transparent var(--spinnerInnerCr) transparent var(--spinnerInnerCr)
}

.spinner>div:nth-child(3) {
  border-color: transparent
}

.spinner>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(3) div:before,
.spinner>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: var(--spinnerOuterCr);
  border-radius: 50%;
  box-shadow: 0 128px 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 var(--spinnerOuterCr);
}

.spinner>div:nth-child(4) {
  border-color: transparent;
}

.spinner>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.spinner>div:nth-child(4) div:before,
.spinner>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: var(--spinnerInnerCr);
  border-radius: 50%;
  box-shadow: 0 92px 0 0 var(--spinnerInnerCr);
}

.spinner>div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 var(--spinnerInnerCr);
}

.spinnerContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #00000000;
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div {
  box-sizing: content-box;
}




/*SECTION


 /$$                                                                /$$$$$$                  /$$          
| $$                                                               /$$__  $$                | $$          
| $$        /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$ /$$   /$$      | $$  \__/  /$$$$$$   /$$$$$$$  /$$$$$$ 
| $$       /$$__  $$ /$$__  $$ |____  $$ /$$_____/| $$  | $$      | $$       /$$__  $$ /$$__  $$ /$$__  $$
| $$      | $$$$$$$$| $$  \ $$  /$$$$$$$| $$      | $$  | $$      | $$      | $$  \ $$| $$  | $$| $$$$$$$$
| $$      | $$_____/| $$  | $$ /$$__  $$| $$      | $$  | $$      | $$    $$| $$  | $$| $$  | $$| $$_____/
| $$$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$      |  $$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$$
|________/ \_______/ \____  $$ \_______/ \_______/ \____  $$       \______/  \______/  \_______/ \_______/
                     /$$  \ $$                     /$$  | $$                                              
                    |  $$$$$$/                    |  $$$$$$/                                              
                     \______/                      \______/                                               


*/


@keyframes on-click-added {
  0% {
      color:rgb(255, 95, 95);
  };

  100% {
      color:rgb(255, 235, 235);
  };
}

.red {
  animation: on-click-added 1s ease-in-out;
}

#clicker-container {
  position: relative;
  transform: translate(-50%, -50%);
  margin-top: 22vh;
  left: 50vw;
  height: min(40vh, 95vw);
  aspect-ratio: 1;
}

#clicker-image {
  height: 100%;
  width: 100%;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  position: relative;
  object-fit: contain;

  border-radius: 100%;

  user-select: none;
}

#clicker-button {
  height: 60%;
  aspect-ratio: 1;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  position: relative;

  border-radius: 100%;
  border: 0px;

  background-color: rgb(190, 156, 0);

  transition: all 40ms ease-in-out;
}

#clicker-button:hover {
  height: 65%;
  aspect-ratio: 1;
}

#clicker-button:active {
  height: 60%;
  aspect-ratio: 1;
}

#total-clicks {
  margin-top: 6vh;
}

.default-font {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: white;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
}

.center {
  text-align: center;
}

.scale-font {
  font-size: max(1.5vh, 1.5vw);
}

.floating {
  position: relative;
  top: 0%;
  display: inline-block;

  width: 50vw;
  height: max(15vw, 15vh);
  
  min-width: 400px;
  margin-top: 1vh;
  margin-bottom: 1vh;

  background-color: rgb(20, 28, 73);

  box-shadow: rgb(20, 28, 73) 0px 5px 5px -3px;
}

.floating-image {
  padding-left: 1%;
  padding-right: 1%;

  aspect-ratio: 1;
  height: 80%;
  top: 50%;
  transform: translate(0, -50%);

  position: relative;
  object-fit: cover;
}

.floating-text {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: inline-block;
  width: 60%;
  height: 80%;
  vertical-align: top;
  text-align: right;
  padding-right: 1%;
}

.floating-title {
  font-size: 150%;
  font-weight: bold;
}

.games {
  height: fit-content;
}

.game {
  width: 92%;
  aspect-ratio: 2;

  transform: translate(-50%);
  left: 50%;
  margin-top: 0.7%;
  margin-bottom: 0.7%;

  border-radius: 10px;
  border-style: none;

  background-color: transparent;

  position: relative;
}

.thumbnail {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  object-fit: contain;
  border-radius: 10px;
  border-style: none;
}

#games-container {
  transform: translate(-50%);
  left: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  aspect-ratio: 1;
  width: 90%;

  padding-top: 3%;
  padding-bottom: 3%;

  overflow: auto;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.15);

  border-radius: 10px;

  position: relative;
}

.left {
  left: 3%;
  transform: translate(0%, -50%);
  position: absolute;
  text-align: right
}

.right {
  left: 97%;
  transform: translate(-100%, -50%);
  position: absolute;
  text-align: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.background {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: rgb(16, 18, 22);

  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;

/*     position: absolute; */
}

.background-center {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: rgb(16, 18, 22);

  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

/*     position: absolute; */
}





.scroll-background {
  width: 50vw;
  min-width: 400px;
  height: fit-content;
  background-color: rgb(8, 1, 49);
  left: 50%;
  transform: translateX(-500%);
  top: 0%;
  position: relative;
  display: flex;
  flex-direction: column;

}

.main-title {
  color: white;
  font-size: 300%;
  font-family: "Trebuchet MS", serif;
  font-weight: bold;
  text-align: center;

  position: relative;
  margin-top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.about {
  color: white;
  font-size: 120%;
  font-family: "Trebuchet MS", serif;
  font-weight: normal;
  text-align: center;

  position: relative;
  display: inline-block;
  transform: translateX(-50%);
  width: 90%;
  margin-top: 0.5vh;
}

/* #login-holder {
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
height: 32%;
  min-width: 47vh;
  max-width: 60vh;
  min-height: 290px;
  width: 40%;
  background-color: rgb(20, 28, 73);

  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, 1fr);

  gap: 1rem;

  border-radius: 2vh;

  padding-top: 2.5%;
  padding-bottom: 2.5%;

  position: absolute;
} */

.login-line {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 6.5;
  background-color: rgb(8, 1, 49);

  border-radius: 1vh;

  margin-top: 2.5%;
  margin-bottom: 2.5%;

  position: relative;
}



#login-button {
/*   width: 40%;
  height: 80%; */
/*   left: 50%;
  top: -17%;  MODERNINIFIED2*/
/*   transform: translateX(-50%); */
  background-color: rgb(8, 1, 49);
  padding: 4%;
/* 
  position: relative; */

  border-radius: 10px;
  border-style: none;

  font-size: 150%;
  color: var(--textCr);
}

#login-button:hover {

    background-color: rgb(8, 1, 49);

  }
  

#login-warning {
  width: 70%;
  height: 10%;

  left: 50%;
  transform: translate(-50%);
  position: relative;
  
  text-align: center;
  font-size: 18px;

  color: crimson;
}

#login-redirect {
  position: absolute;

  background-color: yellowgreen;
  border: none;
  border-radius: 1vh;

  box-shadow: 0 0 10px yellowgreen;

  font-weight: bold;
  font-size: 2vh;

  top: 3vh;
  left: 50%;

  aspect-ratio: 3;
  height: 15vw;
  max-height: 7vh;
}

#login-redirect-holder {
  position: relative;
  display: inline-block;

  margin-top: 3vh;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  height: 5vh;
}

#clicker-leaderboard {
  position: relative;
  transform: translate(-50%, 0%);
  left: 50vw;
  width: 50vw;
  min-width: 50vh;
  height: auto;
  margin-bottom: 15px;
  aspect-ratio: 1.5;
  display: inline-block;
}

#leaderboard-title {
  font-size: max(3vh, 3vw);
}

.leaderboard-element {
  width: 100%;
  aspect-ratio: 12;
  margin-top: 15px;

  background-color: rgb(20, 28, 73);
  border: 5px solid rgb(14, 20, 53);
  box-shadow: rgb(20, 28, 73) 0px 0px 15px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaderboard-key {
  transform: translate(0%, 0%);
  width: 50%;
  margin-left: 15px;
  font-size: 4vh;
}

.leaderboard-value {
  transform: translate(0%, 0%);
  width: 50%;
  margin-right: 15px;
  font-size: 4vh;
  text-align: right;
}

/*SECTION



  /$$$$$$                       /$$$$$$  /$$ /$$             /$$           /$$$$$$$$ /$$          
 /$$__  $$                     /$$__  $$| $$|__/            | $$          | $$_____/|__/          
| $$  \__/  /$$$$$$  /$$$$$$$ | $$  \__/| $$ /$$  /$$$$$$$ /$$$$$$        | $$       /$$ /$$   /$$
| $$       /$$__  $$| $$__  $$| $$$$    | $$| $$ /$$_____/|_  $$_/        | $$$$$   | $$|  $$ /$$/
| $$      | $$  \ $$| $$  \ $$| $$_/    | $$| $$| $$        | $$          | $$__/   | $$ \  $$$$/ 
| $$    $$| $$  | $$| $$  | $$| $$      | $$| $$| $$        | $$ /$$      | $$      | $$  >$$  $$ 
|  $$$$$$/|  $$$$$$/| $$  | $$| $$      | $$| $$|  $$$$$$$  |  $$$$/      | $$      | $$ /$$/\  $$
 \______/  \______/ |__/  |__/|__/      |__/|__/ \_______/   \___/        |__/      |__/|__/  \__/
                                                                                                  
        

*/

.long-dropdwn-item{
  /*   padding: 0px;
    padding-left: 15px; */
    width: 195px;
  
    padding: 12px 0px 12px 12px;  
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transition: 0.3s;
    font-size: 18px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    height: 29px;
  
  }
  
  .long-dropdwn-item > p{
    margin: 0px 0px 0px 10px;
  }
  
  