<div id="disclaimer-footer">
    <div id="disclaimer-text">
        <span class="disclaimer-highlight">VAROVÁNÍ:</span> Tento web je pouze pro zábavu.
        Všechny odpovědi jsou generovány pomocí <span class="disclaimer-highlight">umělé inteligence</span>
        a nemusí být správné. Používat AI na domácí úkoly je
        <span class="disclaimer-highlight">podvod</span> a může mít vážné následky.
        Autor tohoto webu za vás nenese <span class="disclaimer-highlight">žádnou</span> zodpovědnost!
    </div>

    <button id="disclaimer-button">
        <img src="/static/assets/kafka/cross.png" id="disclaimer-cross">
    </button>
</div>
<script src="{% static 'disclaimer.js' %}"></script>