<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tvůj účet</title>
    <link rel="stylesheet" href="/static/universal2v3.css">
</head>
<body>

    {% include "global/navbar.html"%}

    
    <h1 id="username-heading">{{current_user}}</h1>
    <p id="meber-since">Už jsi člen {{current_user.date_joined|timesince}}</p>
    {%if current_user.is_verified%}
    Jsi verifikovaný člen cernyrob.in, můžete využívat všechny služby naplno!
    {%else%}
    Používáš neverifikovaný účet, pokud chceš využívat všechny funkce Kafka AI naplno, můžeš si jednoduše účet verifikovat.
    {%endif%}
</body>
</html>