<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Tvůj účet</title>
    <link rel="stylesheet" href="/static/universal2v7.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% include "global/navbar.html"%}

    
    <h1 id="username-heading" class="centered-text">{{current_user}}</h1>
    <p id="meber-since" class="centered-text">Už jsi člen {{current_user.date_joined|timesince}}</p>
    <p class="contrast-text">
        {%if cernyrobin_user.email_verified%}
        Jsi verifikovaný člen cernyrob.in, můžete využívat všechny služby naplno!

        <div>
            <p>Chtěl by jsi každý týden když vyjde video dostávat na mail soubor s regenerovanými unikátními odpovědmi?</p>
            
            <form action="/kafka/subscribe/" method="POST">
                <div id="anon-container">
                    <input type="checkbox" name="subscribed"> <p>Přihlást k odběru</p>
                </div>
                <input type="submit" value="Přihlásit se k odběru" >
            </form>
        </div>

        {%else%}
        Používáš neverifikovaný účet, pokud chceš využívat všechny funkce Kafka AI naplno, můžeš si jednoduše účet verifikovat.
        <a href="/verify_account" class="round-button">Verifikovat</a>
        {%endif%}

    </p>
</body>
</html>