<!doctype html>
<html>

	{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'universal2v5.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
</head>

<body>
    

    {%include "global/navbar.html"%}
   <p class="contrast-text">Homepage se předělává</p> 







   <p id="viewportWidth"></p>

   <script>
       // Function to update the viewport width
       function updateViewportWidth() {
           var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
           document.getElementById('viewportWidth').textContent = 'Viewport width: ' + width + 'px';
       }
   
       // Call the function on initial load
       updateViewportWidth();
   
       // Update the width value whenever the window is resized
       window.onresize = updateViewportWidth;
   </script>





 <!--    <div class="background">
        <div class="scroll-background">

            <div class="main-title">
                Čau, já sem Robin
            </div>

            <div class="about default-font">
                programmer, businessman, student
            </div>


            <div class="floating">
                <img src="/static/assets/africa.jpg" class="floating-image left"></img>
                <div class="floating-text right default-font scale-font">
                    <div class="floating-title text-left">
                        sem cernoch 👨🏿‍🦱
                    </div>

                    50% african, 50% čech
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/vlasy.jpg" class="floating-image right"></img>
                <div class="floating-text left default-font scale-font">
                    <div class="floating-title text-right">
                        mega háro 🌳
                    </div>

                    na hlavě mam už 15 let křoví
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/car.jpg" class="floating-image left"></img>
                <div class="floating-text right default-font scale-font">
                    <div class="floating-title text-left">
                        auta sou cool 🚗
                    </div>

                    mam rád rychlý káry
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/business.png" class="floating-image right"></img>
                <div class="floating-text left default-font scale-font">
                    <div class="floating-title text-right">
                        businessman fr 💸
                    </div>

                    prodávám pičoviny v robloxu
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/retard.jpg" class="floating-image left"></img>
                <div class="floating-text right default-font scale-font">
                    <div class="floating-title text-left">
                        mentální retardace 🧠
                    </div>

                    sem mega retard třeba
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/ssps.jpg" class="floating-image right"></img>
                <div class="floating-text left default-font scale-font">
                    <div class="floating-title text-right">
                        prestiž 🏫
                    </div>

                    ssps on top
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/jidlo.jpg" class="floating-image left"></img>
                <div class="floating-text right default-font scale-font">
                    <div class="floating-title text-left">
                        mam rad kuskus 😋
                    </div>

                    smazene kuře + kuskus = w jidlo
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/roblox.jpg" class="floating-image right"></img>
                <div class="floating-text left default-font scale-font">
                    <div class="floating-title text-right">
                        roblox programator 💀
                    </div>

                    programuju lidem jejich roblox hry (jazyk Lua)
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/ui.jpg" class="floating-image left"></img>
                <div class="floating-text right default-font scale-font">
                    <div class="floating-title text-left">
                        ui designer 🖼️
                    </div>

                    dělám ui design pro roblox hry
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/prog1.jpg" class="floating-image right"></img>
                <div class="floating-text left default-font scale-font">
                    <div class="floating-title text-right">
                        ajťák 💻
                    </div>

                    znám jazyky C#, C++, Python, Lua, HTML, CSS
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/prog2.jpg" class="floating-image left"></img>
                <div class="floating-text right default-font scale-font">
                    <div class="floating-title text-left">
                        webař 🌐
                    </div>

                    snažim se dělat weby ale nevim jak lol
                </div>
            </div>

            <div class="floating">
                <img src="/static/assets/nerd.jpg" class="floating-image right"></img>
                <div class="floating-text left default-font scale-font">
                    <div class="floating-title text-right">
                        co to dělam se svym životem 🗿
                    </div>

                    celej den u kompu
                </div>
            </div>



            <div class="floating games">
                <div class="main-title">
                    Hry a aplikace
                </div>

                <div id="games-container">
                    <button class="game" onclick="window.location.href = '/clicker';">
                        <img src="/static/assets/thumbnails/clicker.jpg" class="thumbnail"></img>
                    </button>

                    <button class="game" onclick="window.location.href = '/kafka';">
                        <img src="/static/assets/thumbnails/kafka.jpg" class="thumbnail"></img>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>
