<!doctype HTML>
<html>
	{% load static %}

<body>
	{%include "global/navbar.html"%}

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'style.css'%}" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
		<script src="/static/login.js"></script>
		<title>Login: cernyrobin</title>

		<span id="login-destination">{{ redirect }}</span>
	</head>

	<div class="background" style="height: 100vh">
		<div class="main-title" style="top: 5%;">
			zaregistruj se nebo se přihlaš idk
		</div>

		<div id="login-holder">
			<form method="POST" action="{% url 'login_submit' %}?next={{ request.GET.next|default:request.path }}">
				{%csrf_token%}
				
				<div class="login-line">
					<input id="login-username" class="default-font login-field" type="text" placeholder="Username"
						pattern="[a-zA-Z0-9_]+" required></input>
				</div>

				<div class="login-line">
					<input id="login-password" class="default-font login-field" type="password" placeholder="Password"
						pattern="[^ ]+" required></input>
				</div>
			</form>



			<div id="login-warning" class="default-font">
				Incorrect username or password
			</div>

			<div class="login-line" style="background: none">
				<button id="login-button" class="default-font">
					Login
				</button>
			</div>
		</div>
	</div>
</body>

</html>
