<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/universal2v6.css" rel="stylesheet">
    <title>Přihlásit se</title>
</head>
<body>
    <div class="background-center">

        
        <!-- <div id=""> -->
            <form method="POST" action="" id="login-block">
                {%csrf_token%}
                
<!--                 <label for="">Username</label> -->
                <input class="login-field" type="text" name="username" required placeholder="Uživatelké jméno">
                
                
<!--                 <label for="">Password</label> -->
                <input class="login-field" type="password" name="password" required placeholder="Heslo">
                
                
                <input id="login-button" type="submit" value="Přihlásit se">
            </form>
            <p>Ještě nemáš účet <a class="minimal-link" href="{% url 'register'%}">Registruj se</a></p>
    </div>


        







</body>
</html>