<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        {%csrf_token%}

        <label for="">Username</label>
        <input type="text" name="username" placeholder="Your Username">


        <label for="">Password</label>
        <input type="password" name="password" placeholder="Your Password">



        <input type="submit" value="Log In">

        <a href="{% url 'new_register'%}">Don't have an account?</a>




    </form>
</body>
</html>