<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/universal2.css">
    <title>Verifikuj svůj účet</title>
    <script src="/static/verify-account.js"></script>
<!--     <script src="/static/view.js"></script> -->
</head>
<body>
    <div class="background-center">


        <div id="page-container">
            <h1 class="contrast-heading">Verifikuj si svůj účet</h1>
            <h2 class="contrast-heading">Pomož nám orchánit tenhle web před botama</h2>
            <p class="centered-text">Je to hodně jednoduchý, potřebujeme něco, co můžeme použít na ověření, že nejsi bot. <br>
                Nechtělo se nám používat čísla, tak jsme udělali ověření přes školní mail
            </p>






<div class="pair-container">
    <div class="pair-container-heading">

        
        <p class="question-container">
            Jaký jsou výhody verified účtu?
            
            
        </p>
        <p class="wrapping-button" onclick="changeOpenStatusB()"><!-- Rozbalit  -->⮟⮝</p>
    </div>

    
        <ul class="contrast-text answer-text" id="benefits-text">
       


            <li>Kafka AI pro tebe pro každé video vygeneruje odpovědi, který vidíš jenom ty!</li>
            <li>Máš přístup ke krátkýmu shrnutí každýho videa</li>
            <li>Můžeš se přihlásit k oznámení nových videí do mailu</li>
            <li>Můžeš hledat v názvu, transkriptu, otázkách a odpovědích videa</li>
            <li>Různý color themes pro web</li>
            <li>Můžeš si změnit heslo, pokud jsi ho zapomněl</li>
            <li>Možnost nastavit si 2 faktorový ověření</li>
            <li>Můžeš nahlašovat špatně vygenerovaný odpovědi</li>
            <li>Při maintenance breaku nebo výpadku je dostupný záložní server</li>
            <li>Žádný goofy ass pop-ups, reklamy nebo discord invite</li>
            <li>Zdvojnásobený kliky v Robin Clickeru</li>
  


        </ul>




</div>



<div class="pair-container">
    <div class="pair-container-heading">

        
        <p class="question-container">
            Jak budeme používat email?
            
            
        </p>
        <p class="wrapping-button" onclick="changeOpenStatusE()"><!-- Rozbalit  -->⮟⮝</p>
    </div>

    
        <ul class="contrast-text answer-text" id="email-text">
       



            <li>Pro získání ověřenýho účtu je potřeba školní email, abychom zabránili spamování webu botama.</li>
            <b>

                Jak bude email uloženej?
            </b>
            <li>Nikde nebudeme tvůj mail ukazovat.</li>
            <li>Nikdy ti nebudeme posílat žádnej zasranej spam. (Jedinej mail co ti pošleme je verification.)</li>
            <li>Nikam se tvůj mail nedostane, protože je uloženej jenom v naší databázi, nikam ho neposíláme ani neprodáváme!</li>
            <li>Vždycky máš možnost si odebrat email z účtu nebo účet úplně smazat a to tvůj email z databáze trvale smažeme.</li>
<!--             <li>S tvym mailem se bezpečně zachází, protože web běží na serveru s disk encryption a webstránka je přístupná jenom přes šifrovaný https připojení.</li>
 -->            <li>Výhody pro uživatele s ověřenym účtem:</li>
            <li>Celý web je open source, tekže se můžete podívat na přesné fungování.</li>
  


        </ul>




</div>
<p class="contrast-text">

    Pokud máš jakýkoliv otázky můžeš se připojit na náš discord server, pingnout @StuckInVim a zeptat se mě na cokoliv
</p>




        </div>
    </div>
    
</body>
</html>