@keyframes on-click-added {
    0% {
        color:rgb(255, 95, 95);
    };

    10% {
        color:rgb(255, 109, 109);
    };

    20% {
        color:rgb(255, 123, 123);
    };

    30% {
        color:rgb(255, 137, 137);
    };

    40% {
        color:rgb(255, 151, 151);
    };

    50% {
        color:rgb(255, 165, 165);
    };

    60% {
        color:rgb(255, 179, 179);
    };

    70% {
        color:rgb(255, 193, 193);
    };

    80% {
        color:rgb(255, 207, 207);
    };

    90% {
        color:rgb(255, 221, 221);
    };

    100% {
        color:rgb(255, 235, 235);
    };
}

.red {
    animation: on-click-added 1s ease-in-out;
}

#clicker-container {
    position: relative;
    transform: translate(-50%, -50%);
    margin-top: 25vh;
    left: 50vw;
    height: min(40vh, 95vw);
    aspect-ratio: 1;
}

#clicker-leaderboard {
    position: relative;
    transform: translate(-50%, 0%);
    left: 50vw;
    height: min(40vh, 95vw);
    aspect-ratio: 1;
}

#clicker-image {
    height: 100%;
    width: 100%;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    position: relative;
    object-fit: contain;

    border-radius: 100%;
}

#clicker-button {
    height: 60%;
    aspect-ratio: 1;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    position: relative;

    border-radius: 100%;
    border: 0px;

    background-color: rgb(190, 156, 0);

    transition: all 40ms ease-in-out;
}

#clicker-button:hover {
    height: 65%;
    aspect-ratio: 1;
}

#clicker-button:active {
    height: 60%;
    aspect-ratio: 1;
}

#total-clicks {
    margin-top: 10vh;
}

.default-font {
    font-family: "Trebuchet MS", serif;
    font-weight: normal;
    color: white;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
}

.center {
    text-align: center;
}

.scale-font {
    font-size: max(1.5vh, 1.5vw);
}

.floating {
    position: relative;
    top: 0%;
    display: inline-block;

    width: 50vw;
    height: max(15vw, 15vh);
    
    min-width: 400px;
    margin-top: 1vh;
    margin-bottom: 1vh;

    background-color: rgb(20, 28, 73);

    box-shadow: rgb(20, 28, 73) 0px 5px 5px -3px;
}

.floating-image {
    padding-left: 1%;
    padding-right: 1%;

    aspect-ratio: 1;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);

    position: relative;
    object-fit: cover;
}

.floating-text {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    width: 60%;
    height: 80%;
    vertical-align: top;
    text-align: right;
    padding-right: 1%;
}

.floating-title {
    font-size: 150%;
    font-weight: bold;
}

.games {
    height: fit-content;
}

.game {
    width: 92%;
    aspect-ratio: 2;

    transform: translate(-50%);
    left: 50%;
    margin-top: 0.7%;
    margin-bottom: 0.7%;

    border-radius: 10px;
    border-style: none;

    background-color: transparent;

    position: relative;
}

.thumbnail {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    object-fit: contain;
    border-radius: 10px;
    border-style: none;
}

#games-container {
    transform: translate(-50%);
    left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    aspect-ratio: 1;
    width: 90%;

    padding-top: 3%;
    padding-bottom: 3%;

    overflow: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.15);

    border-radius: 10px;

    position: relative;
}

.left {
    left: 3%;
    transform: translate(0%, -50%);
    position: absolute;
    text-align: right
}

.right {
    left: 97%;
    transform: translate(-100%, -50%);
    position: absolute;
    text-align: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.background {
    width: 100%;
    height: fit-content;
    background-color: rgb(16, 18, 22);

    top: 0px;
    left: 0px;

    position: absolute;
}

.scroll-background {
    width: 50vw;
    min-width: 400px;
    height: fit-content;
    background-color: rgb(8, 1, 49);
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    position: relative;
}

.main-title {
    color: white;
    font-size: 300%;
    font-family: "Trebuchet MS", serif;
    font-weight: bold;
    text-align: center;

    position: relative;
    margin-top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.about {
    color: white;
    font-size: 120%;
    font-family: "Trebuchet MS", serif;
    font-weight: normal;
    text-align: center;

    position: relative;
    display: inline-block;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 0.5vh;
}

#login-holder {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: 32%;
    min-width: 500px;
    max-width: 60vh;
    width: 40%;
    background-color: rgb(20, 28, 73);

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);

    gap: 1rem;

    border-radius: 2vh;

    padding-top: 2.5%;
    padding-bottom: 2.5%;

    position: absolute;
}

.login-line {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 6.5;
    background-color: rgb(8, 1, 49);

    border-radius: 1vh;

    margin-top: 2.5%;
    margin-bottom: 2.5%;

    position: relative;
}

.login-field {
    width: 95%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background: none;
    border: none;
    text-align: left;
    font-size: 150%;
}

#login-button {
    width: 40%;
    height: 80%;
    left: 50%;
    top: -17%;
    transform: translateX(-50%);
    background-color: rgb(8, 1, 49);

    position: relative;

    border-radius: 10px;
    border-style: none;

    font-size: 150%;
}