<!DOCTYPE html>

<html>

<head>
    <title>Home - callme</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='callme.css') }}" />

    <script src="{{ url_for('static', filename='callme-home.js') }}"></script>
</head>

<body>
    <div class="background bg-gradient">
        <div class="container" id="callme-title-container">
            <h1 class="main-title callme-title">
                callme
            </h1>

            <p class="default-font callme-subtitle">
                the easiest way to share your phone number
            </p>
        </div>

        <div id="callme-buttons-container">
            <a href="/share" id="add-number-link">
                <button class="container callme-button default-font theme-text theme-input" id="add-number">
                    <span id="add-number-text">Add number</span>
                </button>
            </a>

            <a href="/share">
                <button class="container callme-button default-font theme-text theme-input" id="share-number">
                    <span>Share number</span>
                </button>
            </a>

            <a href="/delete">
                <button class="container callme-button default-font theme-text theme-input" id="delete-number">
                    <span>Delete number</span>
                </button>
            </a>
        </div>

        <div class="default-font" id="footer">
            Powered by <a id="footer-link" href="https://cernyrob.in">cernyrob.in</a>
        </div>
    </div>
</body>

</html>