<!DOCTYPE html>

<html>

<head>
    <title>Create - callme</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='callme.css') }}" />

    <script src="{{ url_for('static', filename='callme-create.js') }}"></script>
</head>

<body>
    <div class="background bg-gradient">
        <div class="container" id="callme-create-title-container">
            <h1 class="default-font callme-title" id="callme-create-title">
                create
            </h1>
        </div>

        <div id="callme-buttons-container">
            <input class="container callme-input default-font theme-text theme-input" id="nickname" placeholder="Nickname"/>
            <input class="container callme-input default-font theme-text theme-input" id="phone_number" placeholder="Phone number"/>

            <button class="container callme-button default-font theme-text theme-input" style="background-color: rgba(0,0,0, 0.8)" id="submit">
                <span>GO</span>
            </button>
        </div>

        <div class="default-font" id="footer">
            Powered by <a id="footer-link" href="https://cernyrob.in">cernyrob.in</a>
        </div>
    </div>
</body>

</html>