<!doctype HTML>
<html>
	<body>
		<head>
    			<meta charset="UTF-8">
    			<meta name="viewport" content="width=device-width, initial-scale=1.0">
    			<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
				<script src="/static/login.js"></script>
		</head>

		<div class="background" style="height: 100vh">
			<div class="main-title" style="top: 5%;">
				zaregistruj se nebo se přihlaš idk
			</div>

			<div id="login-holder">
				<div class="login-line">
					<input id="login-username" class="default-font login-field" type="text" placeholder="Username" pattern="[a-zA-Z0-9_]+" required></input>
				</div>

				<div class="login-line">
					<input id="login-password" class="default-font login-field" type="password" placeholder="Password" pattern="[^ ]+" required></input>
				</div>

				<div id="login-warning" class="default-font">
					Incorrect username or password
				</div>

				<div class="login-line" style="background: none">
					<button id="login-button" class="default-font">
						Login
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
