<!DOCTYPE html>
<html>

{% load static %}

<head>
    <link href="{% static 'kafka.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/assets/kafka.ico">
    <script src="{% static 'kafka-list.js' %}"></script>

    <title>Kafka AI</title>
</head>

<body>
    <div class="background">
        <div id="title-container">
            <h1 class="title">kafka</h1>
            <h2 class="subtitle">všechny odpovědi na samostudia z dějepisu, automaticky generované pomocí AI</h2>
        </div>

        <div id="page-container">
            <button class="kafka-list-element" id="element-template" style="display: none">
                <img class="kafka-list-element-image"></img>

                <div class="kafka-list-element-text-container">
                    <h3 class="kafka-list-element-text kafka-list-element-title">
                        This is a template
                    </h3>

                    <p class="kafka-list-element-text kafka-list-element-description">
                        The template will be cloned by the JS script.
                    </p>
                </div>
            </button>
        </div>
    </div>
</body>

</html>