<!DOCTYPE html>
<html>

{% load static %}

<head>
    <link href="{% static 'kafka.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/assets/kafka.ico">
    <script src="{% static 'kafka-list.js' %}"></script>
    <script src="{% static 'porn.js' %}"></script>

    <title>Kafka Bot</title>
</head>

<body>
    <div id="info">
        <div id="header">
            <div id="lButton">

                <button id="disclaimer-button lButton ">
                    <img src="/static/assets/kafka/cross.png" id="disclaimer-cross">
                </button>
            </div>
                
            <h2 id="infoText">Olivia (5 km) ti poslala 7 fotek!!</h2>
            <div id="rButton">

                <button id="disclaimer-button rButton">
                    <img src="/static/assets/kafka/cross.png" id="disclaimer-cross">
                </button>
            </div>

        </div>
        <div id="imageGallery">


            <img id="infoImg" src="/static/assets/oli.png" alt="">
            <img id="infoImg" src="/static/assets/oli.png" alt="">


        </div>
    </div>
    <div class="background">
        <div id="title-container">
            <h1 class="title">Kafka Bot</h1>
            <h2 class="subtitle">Automatizovaný systém na řešení odpovědí z videí pana Kafky</h2>
        </div>

        <div id="content">
            <div class="side-ad-container" id="ad-container">
                {% for ad in ads_left %}
                <a class="side-ad" id="ad-left" href="{{ ad.link }}">
                    <img class="ad-image" src="{{ ad.image_link }}"></img>
                </a>
                {% endfor %}
            </div>

            <div id="page-container">
                {% for object in videos %}
                <a href="/kafka/view?id={{ object.video_id }}" class="kafka-list-element" id="element-template">
                    <img src="https://img.youtube.com/vi/{{ object.video_id }}/mqdefault.jpg"
                        class="kafka-list-element-image"></img>

                    <div class="kafka-list-element-text-container">
                        <h3 class="kafka-list-element-text kafka-list-element-title">
                            {{ object.title }}
                        </h3>

                        <p class="kafka-list-element-text kafka-list-element-description">
                            {{ object.description }}
                        </p>
                    </div>
                </a>
                {% endfor %}

                <div id="kafka-list-add-video-container">
                    <div id="cantfindvideo">Nemůžete najít video?</div>

                    <div id="kafka-list-add-video-button">
                        <a href="/kafka/submit/" class="subtitle">Přidat video</a>
                    </div>
                </div>
            </div>

            <div class="side-ad-container">
                {% for ad in ads_right %}
                <a class="side-ad" id="ad-right", href="{{ ad.link }}">
                    <img class="ad-image" src="{{ ad.image_link }}"></img>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "disclaimer.html" %}



</body>

</html>