<!DOCTYPE html>

<html>
{% load static %}

<head>
    <link href="{% static 'kafka.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/assets/kafka.ico">
    <script src="{% static 'kafka-submit.js' %}"></script>

    <title>Kafka Bot</title>
</head>

<body>
    <div class="background">
        <div class="title-container">
            <div class="title">Submit</div>
        </div>


        <div id="page-container">
            <div id="submit-form-container">
                <div id="submit-form-title" class="subtitle">Video URL</div>

                <div id="submit-form">
                    {% csrf_token %}

                    <input type="text" name="video_url" id="submit-video-url" class="submit-form-input" required>
                </div>

                <button id="submit-button">Odeslat</button>
            </div>

            <div id="loadingContainer">

                <div class="spinnerContainer">
                    <div class=" spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div id="barContainer">

                <div id="loadingBarContainer">


                    <div id="loadingBar"></div>
                    <p id="remainingTime">Time to be hydrated</p>
                    <p id="pergentage">Percentage to be hydrated</p>
                </div>
            </div>

            <div id="submit-response-container">
                <p id="submit-response" style="visibility: hidden">This is the response</p>
            </div>

            <div id="submit-info-container">
                <div class="subtitle">Jak to funguje?</div>

                <p class="submit-info-text">
                    Tento web používá umělou inteligenci, která dokáže odpovědět na otázky.
                    Pokud chcete přidat nové video, stačí napsat jeho URL do formuláře nahoře.
                    Odpovědi se automaticky vygenerují a přidají na web. To může trvat až 10 minut - video se
                    přidá i
                    pokud opustíte stránku.
                </p>

                <div class="subtitle">Rate limit?</div>

                <p class="submit-info-text">
                    Na webu je rate limit jednoho videa za hodinu.
                    Navíc lze pouze poslat videa z dějepisu (Jan Kafka), které mají otázky v popisku.
                    To stačí akorát na to, aby se na web dostala všechna Kafkova videa.
                    Pokud myslíte, že něco nefunguje správně, napište nám na Discordu.
                </p>
            </div>



            {% include "disclaimer.html" %}
</body>

</html>