<!DOCTYPE html>

<html>
{% load static %}

<head>
    <link href="{% static 'kafka.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/assets/kafka.ico">

    <title>Kafka Bot</title>
</head>

<body>
    <div class="background">
        <div class="title-container">
            <a href="../">Back</a><div class="title">{{ title }}</div>
        </div>

        <div id="page-container">
            <iframe id="video-embed" src="https://www.youtube.com/embed/{{ video_id }}" title="{{ title}}"
                frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            <div id="view-answers-container">
                <div class="subtitle">Odpovědi:</div><span class="view-answers-text">{{ answers }}</span>
            </div>

            <div id="view-transcript-container">
                <div class="subtitle">Transkript:</div><span class="view-answers-text">{{ transcript }}</span>
            </div>
        </div>
    </div>

    {% include "disclaimer.html" %}
</body>

</html>